{% extends 'base.html' %}

{% block title %}Створити подію{% endblock %}

{% block content %}
<h1>Створити нову подію</h1>
<form method="POST">
    <label for="title">Назва події:</label>
    <input type="text" id="title" name="title" required><br>

    <label for="date">Дата:</label>
    <input type="date" id="date" name="date" required><br>

    <label for="description">Опис:</label>
    <textarea id="description" name="description" required></textarea><br>

    <button type="submit">Додати подію</button>
</form>
{% endblock %}
